body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #ffc0cb98;
}

.logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.titulo {
  flex-grow: 1;
  text-align: center;
}

.buscar {
  display: flex;
  align-items: center;
}

.buscar img{
  width: 10%;
  border-radius: 50px;
}
.buscar input {
  padding: 5px;
  margin-right: 5px;
}

nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px #0000001a;
  background-color: rgba(255, 192, 203, 0.945);
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #2c2c2c;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s, margin 0.3s;
  border-bottom: 1px solid transparent;
}
nav ul li a:hover {
  color: black; 
  font-size: 1.1em; 
  border-bottom-color: #990033;
}
main {
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* elementos se ajusten al ancho disponible */
  background-color: #333;
  color: white;
}

.bloques-footer {
  width: 18%;
  margin: 7px; /* Espacio entre los contenedores */
  padding: 5px;  
  text-align: center;
}

.imgwhatsappfooter{
  width: 20%;
}
.container-imgwhatsappfooter{ 
  display: flex;
  justify-content: center;
 
}
.imgwhatsappfooter a img {
  width: 100%;
}
.imgwhatsappfooter:hover {
  width: 21%;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /*  elementos se alineen hacia arriba */
  flex-wrap: wrap; /* elementos se ajusten al ancho disponible */

}

.container {
  width: 18%;
  border-radius: 8px;
  margin: 7px; /* Espacio entre los contenedores */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container:hover {
  width: 20%;
background-color: #66666657;
}

.container img {
  width: 80%;
  border-radius: 8px;
}

.info {
  text-align: center;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 20px;
}

p {
  color: #666;
  font-size: 1rem;
  margin-top: 10px;
}


.info {
  text-align: center;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 20px;
}

p {
  color: #666;
  font-size: 1rem;
  margin-top: 10px;
}

.containerWhatsapp {
  position: fixed;
  top: 500px; /* Ajusta esta cantidad según sea necesario para la posición vertical deseada */
  right: 20px; /* Ajusta esta cantidad según sea necesario para la posición horizontal deseada */
  z-index: 999; /* Ajusta esto si el contenedor se superpone a otros elementos */
  width: 10%;
  border-radius: 50px;
}
.containerWhatsapp a img {
  width: 50%;
  border-radius: 50px;
}
.containerWhatsapp:hover {
  right: 10px; 
  width: 12%;
}



/*css de la plantilla*/

.producto-container {
  display: flex;
}

.image-container {
  width: 30%;
  margin-right: 5px; /* Margen entre la imagen y el siguiente contenedor */
}

.image-container img {
  width: 100%;
  height: auto;
}

.miniaturas-container {
  width: 10%; 
  display: flex;
  flex-direction: column;
  margin-right: 250px;
  
}

.miniaturas-container img {
  width: 50%; 
  margin-bottom: 5px; /* Espacio entre las imágenes */
}
.info-container {
  width: 50%; 
  flex: 1;
}

.info-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-container p {
  font-size: 16px;
  margin-bottom: 8px;
}

.info-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-container button:hover {
  background-color: #0056b3; 
  font-size: 16px;
}
